h2 {
  display: flex;
  justify-content: center;
  margin: 0;
}

.hero-section {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 74vh;

  .hero-container {
    position: absolute;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;

    .sentence {
      display: flex;
      align-items: center;
    }
  }
}
.hero-bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 13vh;
  transition: all 0.3s ease-in-out;
}
